<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                Trabajo desde el desarrollo, pruebas unitarias y puesta en producción
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                ASP.NET, SQL Server
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET MVC</li>
                <li>Entity Framework</li>
                <li>Java</li>
                <li>Spring Boot</li>
            </ul>
        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>
                Puedo crear front-ends para los requerimientos del negocio
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                Angular, Angular js, React
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>React Hooks</li>
                <li>Angular Material</li>
                <li>CSS</li>
                <li>HTML</li>
                <li>Javascript</li>
            </ul>
        </div>
    </div>
</div>
