<div class="text-center">
    
    <h1 class="display-4">Soy Wilson Bautista</h1>

    <h2>Soy un desarrollador full stack .NET</h2>

    <img id="foto"
         src="~/imagenes/iconoPerfil.png" alt="Foto de Wilson" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            On the other hand, we denounce with righteous indignation
            and dislike men who are so beguiled and demoralized by the
            charms of pleasure of the moment, so blinded by desire, that
            they cannot foresee the pain and trouble that are bound to ensue;
            and equal blame belongs to those who fail in their duty through
            weakness of will, which is the same as saying through shrinking
            from toil and pain. These cases are perfectly simple and easy to distinguish.
        </p>
    </div>
</div>
